[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord = "*"
python-dotenv = "*"
pymongo = "*"
bs4 = "*"
urlextract = "*"
ago = "*"
asyncio = "*"

[requires]
python_version = "3.8"
